<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanSach.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=VUONGDUCTHOAI;Initial Catalog=QuanLyBanHang;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanSach.Properties.Settings.QLBSConnectionString"
            connectionString="Data Source=VUONGDUCTHOAI;Initial Catalog=QLBS;User ID=sa;Password=Thoai12309@;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>